<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb1311462707653880</string>
				<string>com.googleusercontent.apps.405850399410-3plk6horqe62b9a0t316to75fbm5r1tr</string>
				<string>msteams</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.405850399410-3plk6horqe62b9a0t316to75fbm5r1tr</string>
			</array>
		</dict>
	</array>
	<key>FacebookAdvertiserIDCollectionEnabled</key>
	<true/>
	<key>FacebookAppID</key>
	<string>1311462707653880</string>
	<key>FacebookAutoLogAppEventsEnabled</key>
	<true/>
	<key>FacebookClientToken</key>
	<string>5814be5585d2012bca11b59a4b09579a</string>
	<key>FacebookDisplayName</key>
	<string>MyPT Connect</string>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-share-api</string>
		<string>msteams</string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>secure.ccavenue.ae</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>overpass-bold.otf</string>
		<string>overpass-bold-italic.otf</string>
		<string>overpass-extrabold-italic.otf</string>
		<string>overpass-extrabold.otf</string>
		<string>overpass-extralight-italic.otf</string>
		<string>overpass-extralight.otf</string>
		<string>overpass-heavy-italic.otf</string>
		<string>overpass-heavy.otf</string>
		<string>overpass-italic.otf</string>
		<string>overpass-light-italic.otf</string>
		<string>overpass-light.otf</string>
		<string>overpass-regular.otf</string>
		<string>overpass-semibold-italic.otf</string>
		<string>overpass-semibold.otf</string>
		<string>overpass-thin-italic.otf</string>
		<string>overpass-thin.otf</string>
		<string>ClashDisplay-Variable.ttf</string>
		<string>ClashDisplay-Bold.otf</string>
		<string>ClashDisplay-Extralight.otf</string>
		<string>ClashDisplay-Light.otf</string>
		<string>ClashDisplay-Medium.otf</string>
		<string>ClashDisplay-Regular.otf</string>
		<string>ClashDisplay-Semibold.otf</string>
		<string>Manrope-Bold.otf</string>
		<string>Manrope-ExtraBold.otf</string>
		<string>Manrope-ExtraLight.otf</string>
		<string>Manrope-Light.otf</string>
		<string>Manrope-Medium.otf</string>
		<string>Manrope-Regular.otf</string>
		<string>Manrope-SemiBold.otf</string>
		<string>overpass-mono-light.otf</string>
		<string>overpass-mono-semibold.otf</string>
		<string>overpass-mono-regular.otf</string>
		<string>overpass-mono-bold.otf</string>
		<string>FunnelSans-Bold.ttf</string>
		<string>FunnelSans-BoldItalic.ttf</string>
		<string>FunnelSans-ExtraBold.ttf</string>
		<string>FunnelSans-ExtraBoldItalic.ttf</string>
		<string>FunnelSans-Italic.ttf</string>
		<string>FunnelSans-Light.ttf</string>
		<string>FunnelSans-LightItalic.ttf</string>
		<string>FunnelSans-Medium.ttf</string>
		<string>FunnelSans-MediumItalic.ttf</string>
		<string>FunnelSans-Regular.ttf</string>
		<string>FunnelSans-SemiBold.ttf</string>
		<string>FunnelSans-SemiBoldItalic.ttf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>CFBundleIconName</key>
		<string>AppIcon</string>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
		<string>processing</string>
	</array>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
	</array>
</dict>
</plist>
